body {
  font-family: AKbalthom SuperheroKH;
  font-size: 12px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(116, 9, 121, 1) 0%,
    rgba(0, 134, 255, 1) 100%
  );
}
header {
  border: 0px solid red;
  background-color: #e0dcd1;
  border-radius: 20px;
}
.box {
  border: 0px solid blue;
  border-radius: 30px;
}
.nav-item :hover {
  color: white;
  background-color: #8c8c8c;
  border-radius: 5px;
}
.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  justify-content: end;
}
h5 {
  color: white;
  text-shadow: 0px 10px 5px black;
  font-size: 75px;
}
.script {
  color: red;
  font-size: 22px;
  border: 1px solid white;
  border-radius: 50px;
  background-color: white;
  text-shadow: 0px 2px 1px black;
}
.btn-outline-success {
  border-color: black;
  color: black;
}
.btn-outline-success:hover {
  background-color: #8c8c8c;
  border-color: green;
}
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: underline;
}
h3 {
  font-size: 12px;
  text-align: center;
  font-weight: bold;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.addToCard {
  margin: 10px;
}
